.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 70vh;

  @media (max-width: 1023px) {
    justify-content: center;
  }
}
.ulItems {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 10px 5px;
  border: 3px solid #ddd;
  border-radius: 15px;
  padding: 7px 7px;
  max-width: 285px;
  max-height: 445px;
  color: #ddd;
  @media (min-width: 1024px) {
    flex-basis: 45%;
  }
  .dataAndPhotoBox {
    display: flex;
  }
  .liBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  a {
    margin: 0 10px;
  }
  img {
    max-width: 90px;
    border-radius: 10px;
  }
  li {
    font-size: 0.9rem;
    font-weight: bold;
    text-align: left;
    letter-spacing: 1px;
    margin: 3px 0;

    padding: 5px;
  }
  span {
    font-size: 0.9rem;
    font-weight: normal;
    letter-spacing: normal;
  }
  .description {
    max-height: 100px;
    margin: 5px 0;
    overflow-y: scroll;
    font-size: 0.9rem;
    font-weight: normal;
    letter-spacing: normal;
    padding: 5px;
    border: 2px solid #aaa;
    border-radius: 5px;
  }
  .authorsbar {
    max-height: 50px;
    overflow-y: scroll;
  }
  .titles {
    max-height: 35px;
    overflow-y: scroll;
  }
  .list {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 7px;
    padding-left: 10px;
  }

  .notfound {
    display: inline-block;
    color: burlywood;
    font-weight: bold;
  }
}
