.apicontener {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.list {
  font-size: 1rem;
  list-style: none;
  text-align: left;
  width: 85%;
  margin: 0.5rem auto;
  padding: 15px;
  border: 3px solid black;
  border-radius: 15px;
  color: black;

  img {
    width: 70px;
    height: 85px;
  }

  li,
  div {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  span {
    font-size: 0.9rem;
    font-weight: normal;
    margin-left: 5px;
  }
  .notfound {
    display: inline-block;
    color: burlywood !important;
    margin-left: 5px;
    font-weight: bold !important;
  }
  .description {
    font-weight: normal;
    max-height: 150px;
    overflow-y: scroll;
  }
}
