.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  @media (max-width: 1023px) {
    max-height: 300px;
    overflow-y: scroll;
  }
  @media (min-width: 1024px) {
    max-height: 800px;
    overflow-y: scroll;
  }
  @media (min-width: 1024px) {
    justify-content: flex-start;
  }
}
