.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 300px;
  height: 335px;
  margin: 0.5rem 0.2rem;
  border: 5px solid #09b;
  background-color: #15172b;
  border-radius: 10px;
}
.first-section {
  display: flex;
  height: 135px;

  .data-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 60%;
    list-style: none;
    padding: 0 5px;

    li {
      font-size: 0.9rem;
      font-weight: bold;
      max-height: 35px;
      &.active {
        overflow-y: scroll;
      }
      span {
        margin-left: 5px;
        font-weight: normal;
      }
    }
  }

  a {
    flex-basis: 40%;

    img {
      float: right;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 135px;
  padding: 0 5px;

  li {
    font-size: 0.9rem;
    font-weight: bold;
    max-height: 50px;
    margin: 0.3rem 0;

    span {
      margin-left: 5px;
      font-weight: normal;
    }
  }
  .description-active {
    max-height: 85px;
    overflow-y: scroll;
  }
  .active {
    overflow-y: scroll;
  }
}
span.not-entered {
  display: inline-block;
  color: #15172b;
  font-weight: bold !important;
}

.card-btn {
  align-self: center;
  width: 100px;
  height: 30px;
  max-height: 50px;
  margin: 10px 0;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 15px;
  border-style: none;
  background-color: saddlebrown;
  box-shadow: 0px 0px 3px 3px black;
  color: white;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: white;
    box-shadow: 0px 0px 3px 3px #bbb;

    color: black;
  }
}

.card-btn {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  width: 100px;
  height: 30px;
  margin: 28px auto 18px auto;
  text-align: center;
  box-shadow: 0px 0px 3px 3px #08d;
  transition: 0.2s;
  font-weight: bold;
}
.card-btn:hover {
  background-color: #05d;
  box-shadow: 0px 0px 3px 3px #05d;
}
.card-btn:active {
  background-color: #04b;
  box-shadow: 0px 0px 3px 3px #04b;
}

.api-cont {
  @media (max-width: 1023px) {
    max-height: 400px;
    overflow-y: scroll;
  }
  @media (min-width: 1024px) {
    width: 70%;
    height: 527px;
    overflow-y: scroll;
  }
}
