#root {
  padding: 0;
  margin: 0;
}
html,
body,
ul {
  padding: 0;
  margin: 0;
  color: white;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body {
  background-color: #000;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: baseline;
    max-height: 100vh;
    overflow: hidden;
  }

  h2 {
    text-align: center;
    color: #08d;
    margin: 1rem 0;
  }

  .local-libary {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1024px) {
      flex-basis: 60%;
    }
    @media (min-width: 1440px) {
      flex-basis: 65%;
    }
    @media (max-width: 1023px) {
      margin-bottom: 2rem;
    }
  }
  .api-libary {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1024px) {
      flex-basis: 40%;
    }
    @media (min-width: 1440px) {
      flex-basis: 35%;
    }
    @media (max-width: 1023px) {
      margin-bottom: 4rem;
      max-height: 900px;
      border-top: 5px solid hsla(249, 67%, 65%, 1);
    }
    h2 {
      color: hsla(249, 67%, 65%, 1);
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #000;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #08d;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
